@import url("./misans/MiSans-Regular.min.css");
@import url("./misans/MiSans-Semibold.min.css");
@import url("./misans/MiSans-Bold.min.css");

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./geist-mono/geist-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./geist-mono/geist-mono-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./geist-mono/geist-mono-latin-700-normal.woff2") format("woff2");
}
